flows.json
[{"id":"2fb21a6b.366766","type":"tab","label":"Controller","disabled":false,"info":""},{"id":"bd9a93d5.70311","type":"tab","label":"AppIndex","disabled":false,"info":""},{"id":"e8763d21.b7461","type":"subflow","name":"App HTML","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"91e3585b.224158"}]}],"out":[],"env":[]},{"id":"6ad7c930.1a06b8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Oscillation Overthruster Display","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d3e0696e.a4f1c8","type":"mqtt-broker","z":"","name":"blinky-lite-controlbox","broker":"$(MQTTSERVERIP)","port":"1883","clientid":"$(MQTTCLIENTID)","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c309d5c4.23e2d8","type":"mongodb","z":"","hostname":"$(MONGODBIP)","port":"27017","db":"blinky-lite","name":"mongodb"},{"id":"b0ed4f9c.d11b9","type":"websocket-listener","z":"","path":"/dma02/websocket","wholemsg":"false"},{"id":"f162f8da.5ea6d8","type":"websocket-listener","z":"","path":"/dma01/websocket","wholemsg":"false"},{"id":"7003ff07.099c4","type":"http in","z":"2fb21a6b.366766","name":"/dma02","url":"/dma02","method":"get","upload":false,"swaggerDoc":"","x":70,"y":100,"wires":[["ef042835.9e2488"]]},{"id":"dfcdea8e.1b6118","type":"template","z":"2fb21a6b.366766","name":"Body","field":"payload.body","fieldType":"msg","format":"html","syntax":"mustache","template":"    <div width=\"100%\">\n        <div class='row' style='padding-bottom: 25px;'>\n            <div class='col-md-12'>\n{{{payload.html.rampControl}}}\n            </div>\n        </div>\n        <div class='row' style='padding-bottom: 25px;'>\n            <div class='col-md-12'>\n{{{payload.html.state}}}\n            </div>\n        </div>\n        <div class='row' style='padding-bottom: 25px;'>\n            <div class='col-md-12'>\n{{{payload.html.history}}}\n            </div>\n        </div>\n        <div class='row' style='padding-bottom: 25px;'>\n            <div class='col-md-12'>\n{{{payload.html.archive}}}\n            </div>\n        </div>\n    </div>","output":"str","x":690,"y":300,"wires":[["de97baba.d0c818"]]},{"id":"a6b964dd.6199b8","type":"websocket out","z":"2fb21a6b.366766","name":"","server":"b0ed4f9c.d11b9","client":"","x":1050,"y":760,"wires":[]},{"id":"88320d38.511a3","type":"mongodb in","z":"2fb21a6b.366766","mongodb":"c309d5c4.23e2d8","name":"Find in device db","collection":"devices","operation":"find","x":510,"y":720,"wires":[["83809138.03125","c28defec.55edd"]]},{"id":"1eaec386.468dfc","type":"status","z":"2fb21a6b.366766","name":"Socket Status","scope":["a6b964dd.6199b8","8bf91f6f.6883b"],"x":110,"y":660,"wires":[["303b8e57.c8e5a2"]]},{"id":"303b8e57.c8e5a2","type":"function","z":"2fb21a6b.366766","name":"Check Socket Status","func":"var newMsg = null;\nif (msg.status.text.indexOf(\"connected \") >= 0)\n{\n    newMsg = {topic:'socketStatus', payload:'connected'};\n}\nif (msg.status.text.indexOf(\"common.status.disconnected\") >= 0)\n{\n    newMsg = {topic:'socketStatus', payload:'disconnected'};\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":300,"y":660,"wires":[["e386f4a8.856f58"]]},{"id":"e386f4a8.856f58","type":"function","z":"2fb21a6b.366766","name":"Allow Database poll","func":"if (msg.topic == 'socketStatus')\n{\n    context.set('socketStatus', msg.payload);\n    return null;\n}\nif (msg.topic == 'pollDatabase')\n{\n    var socketStatus = context.get('socketStatus');\n    if (socketStatus == undefined) return null;\n    if (socketStatus == 'connected') return {topic:'databasePoll', payload:true};\n}\nreturn null;","outputs":1,"noerr":0,"x":510,"y":660,"wires":[["b2f4ba54.265dc8"]]},{"id":"c991762f.8d1b58","type":"inject","z":"2fb21a6b.366766","name":"","topic":"pollDatabase","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":600,"wires":[["e386f4a8.856f58"]]},{"id":"62a046c2.da0268","type":"websocket in","z":"2fb21a6b.366766","name":"","server":"b0ed4f9c.d11b9","client":"","x":140,"y":1060,"wires":[["70f99f78.b53f2"]]},{"id":"70f99f78.b53f2","type":"json","z":"2fb21a6b.366766","name":"","property":"payload","action":"","pretty":false,"x":330,"y":1040,"wires":[["eae8240e.a269d8"]]},{"id":"ec924cd2.5c764","type":"mqtt out","z":"2fb21a6b.366766","name":"","topic":"","qos":"0","retain":"false","broker":"d3e0696e.a4f1c8","x":730,"y":1000,"wires":[]},{"id":"56892c9e.9db594","type":"function","z":"2fb21a6b.366766","name":"Parse msg","func":"return {topic:msg.payload.mqttMessage.topic, payload:msg.payload.mqttMessage.payload};","outputs":1,"noerr":0,"x":590,"y":1000,"wires":[["ec924cd2.5c764"]]},{"id":"43ac8ec.9bf207","type":"template","z":"e8763d21.b7461","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n{{{payload.head}}}\n  </head>\n  <body>\n{{{payload.navBar}}}\n{{{payload.body}}}\n{{{payload.foot}}}\n  </body>\n</html>","output":"str","x":790,"y":40,"wires":[["233dd1ed.d17ede"]]},{"id":"99432fa.98673d","type":"template","z":"e8763d21.b7461","name":"Foot","field":"payload.foot","fieldType":"msg","format":"html","syntax":"mustache","template":"<!-- Foot -->\n    <div id=\"acknowledgeDialog\" title=\"Acknowledge\" class='card'>\n        <p class='card-title' id='acknowledgeDialogTitle'>Warning</p>\n        <div class='card-body'>\n            <p class='tableText' id='acknowledgeDialogText'>Text</p>\n        </div>\n    </div>\n    <div id=\"optionDialog\" title=\"Option\" class='card'>\n        <p class='card-title' id='optionDialogTitle'>Choice</p>\n        <div class='card-body'>\n            <p class='tableText' id='optionDialogText'>Text</p>\n        </div>\n    </div>\n    <script src=\"/scripts/popper.js\"></script>\n    <script src=\"/scripts/bootstrap.js\"></script>","output":"str","x":670,"y":40,"wires":[["43ac8ec.9bf207"]]},{"id":"4ac3208f.90f57","type":"template","z":"e8763d21.b7461","name":"Head","field":"payload.head","fieldType":"msg","format":"html","syntax":"mustache","template":"<!-- Head -->\n    <meta charset=\"UTF-8\"/>\n    <meta name=”viewport” content=\"width=device-width, initial-scale=1\">\n    <link rel=\"icon\" href=\"/img/favicon.ico?v=4\" type=\"image/x-icon\"/>\n    <title>{{payload.title}}</title>\n    <link rel=\"stylesheet\" href=\"/css/bootstrap.css\"/>\n    <link rel=\"stylesheet\" href=\"/jquery/jquery-ui.css\"/>\n    <link rel=\"stylesheet\" href=\"/jquery/jquery-ui-timepicker-addon.css\"/>\n    <script src=\"/jquery/jquery.js\"></script>\n    <script src=\"/jquery/jquery-ui.js\"></script>\n    <script src=\"/jquery/jquery-ui-timepicker-addon.js\"></script>\n    <script src=\"/scripts/plotly-latest.min.js\"></script>\n    <script src=\"/scripts/visDist/vis.js\"></script>\n    <style>\n{{{payload.css}}}\n    </style>\n    <script>\n{{{payload.utilityScripts}}}\n    </script>\n    <script>\n{{{payload.javascript}}}\n    </script>","output":"str","x":550,"y":40,"wires":[["99432fa.98673d"]]},{"id":"9f84c5ba.086818","type":"template","z":"e8763d21.b7461","name":"navBar","field":"payload.navBar","fieldType":"msg","format":"html","syntax":"mustache","template":"<!-- navBar -->\n    <div class=\"jumbotron\" width=\"100%\">\n        <div class=\"row\">\n            <div class=\"col-md-2\" style=\"text-align: left\"></div>\n            <div class=\"col-md-8\" style=\"text-align: center\">\n                <h1 class=\"jumbotron-title big-text bold-text\">{{{payload.title}}}</h1>\n            </div>\n            <div class=\"col-md-2\" style=\"text-align: right\"><a href='https://www.blinky-lite.io/' target='_blank'><img src=\"/img/BlinkyLogo.gif\" height=\"50px\"/></a></div>\n        </div>\n    </div>","output":"str","x":420,"y":40,"wires":[["4ac3208f.90f57"]]},{"id":"233dd1ed.d17ede","type":"http response","z":"e8763d21.b7461","name":"","statusCode":"","headers":{},"x":910,"y":40,"wires":[]},{"id":"91e3585b.224158","type":"template","z":"e8763d21.b7461","name":"CSS","field":"payload.css","fieldType":"msg","format":"css","syntax":"mustache","template":"        :root \n        {\n          --color1: #415c71;\n          --color2: #547792;\n          --color3: #9eb5c7;\n          --color4: #c6c2bb;\n          --color5: #fdc300;\n          --big-text-size :300%;\n          --bold-text :900;\n          --vert-pad : 25px;\n          --horz-pad : 25px;\n        }\n        body \n        {\n          background-color: white !important;\n          padding-left:25px;\n          padding-right:25px;\n        }\n        \n        img \n        {\n          object-fit: contain;\n        }\n        a\n        {\n            color: white;\n        }\n        a:visited \n        { \n            color: var(--white);\n        }\n        a:hover \n        { \n            color: var(--color5);\n        }\n\n        .jumbotron \n        {\n          background-color: var(--color2) !important;\n          color: white;\n          padding-top:25px;\n          padding-bottom:25px;\n        }\n        .jumbotron-title\n        {\n          color:var(--color5);\n        }\n        .jumbotron-button\n        {\n          color: white;\n          background-color: var(--color1);\n       }\n        .card\n        {\n          background-color: var(--color2) !important;\n          text-align: center;\n        }\n        .card-body\n        {\n          background-color: var(--color3);;\n        }\n        .card-button\n        {\n          color: var(--color5) !important;\n          background-color: var(--color1) !important;\n          font-weight: bold;\n        }\n        .card-title\n        {\n          color: var(--color5);\n          font-weight: var(--bold-text);\n          font-size: var(--big-text-size);\n         }\n        .card-text\n        {\n          color: white;\n          text-align: left;\n          font-size: var(--big-text-size);\n        }\n        .tableHeading\n        {\n          color:var(--container-title-color);\n        }\n        .tableText\n        {\n          color:var(--container-text-color);\n        }\n       .vert-pad\n        {\n            padding-top:var(--vert-pad);;\n            padding-bottom:var(--vert-pad);;\n        }\n        .horz-pad\n        {\n            padding-left:var(--horz-pad);;\n            padding-right:var(--horz-pad);;\n        }\n        .big-text\n        {\n            font-size: var(--big-text-size);\n        }\n        .bold-text\n        {\n            font-weight: var(--bold-text);\n        }","output":"str","x":130,"y":40,"wires":[["47ebd6c.9f66a28"]]},{"id":"de97baba.d0c818","type":"subflow:e8763d21.b7461","z":"2fb21a6b.366766","name":"","x":850,"y":300,"wires":[]},{"id":"9a1fbe36.09896","type":"template","z":"2fb21a6b.366766","name":"JavaScript","field":"payload.javascript","fieldType":"msg","format":"javascript","syntax":"mustache","template":"{{{payload.script.stripChartWidget}}}\n{{{payload.script.gaugeWidget}}}\n{{{payload.script.barWidget}}}\n{{{payload.script.changeDatabaseKeyValue}}}\n{{{payload.script.global}}}\n{{{payload.script.docReady}}}\n{{{payload.script.socket}}}\n{{{payload.script.updateReadings}}}\n{{{payload.script.rampsettings}}}\n{{{payload.script.setState}}}\n{{{payload.script.archive}}}\n","output":"str","x":190,"y":560,"wires":[["50e0043f.cf2c2c"]]},{"id":"b2f4ba54.265dc8","type":"function","z":"2fb21a6b.366766","name":"Prepare Readings Query","func":"var msg1 = \n{\n    topic           : '01Readings',\n    payload         : \n    {\n        sys01   : \"blinky-lite\",\n        sys02   : \"demo\",\n        sys03   : \"dma\",\n        sys04   : \"01\",\n        prop    : \"reading\"\n    }\n};\nvar msg2 = \n{\n    topic           : '02Readings',\n    payload         : \n    {\n        sys01   : \"blinky-lite\",\n        sys02   : \"demo\",\n        sys03   : \"dma\",\n        sys04   : \"02\",\n        prop    : \"reading\"\n    }\n};\nreturn [msg1,msg2];\n","outputs":2,"noerr":0,"x":250,"y":720,"wires":[["88320d38.511a3"],["88320d38.511a3"]]},{"id":"47ebd6c.9f66a28","type":"template","z":"e8763d21.b7461","name":"Utility Scripts","field":"payload.utilityScripts","fieldType":"msg","format":"javascript","syntax":"mustache","template":"// Utility Scripts\n        $( function() \n        {\n            $( \"#acknowledgeDialog\" ).dialog(\n                {\n                    width:    500,\n                    autoOpen: false,\n                    buttons:\n                    [\n                        {\n                            text: \"Ok\",\n                            click: function() { $( this ).dialog( \"close\" );},\n                            showText: false\n                        },\n                   ]\n                });\n        } );\n        function optionDialog(headerText, title, text, buttonTexts, buttonFunctions)\n        {\n            var buttonDefinitions = [];\n            for (var ii = 0; ii < buttonTexts.length; ++ii)\n            {\n                buttonDefinitions[ii] = \n                    {\n                        text: buttonTexts[ii],\n                        click: buttonFunctions[ii],\n                        showText: false\n                    };\n            }\n            $( \"#optionDialog\" ).dialog( \"option\", \"title\", headerText );   \n            $( \"#optionDialog\" ).dialog( \"option\", \"buttons\", buttonDefinitions);\n            $( \"#optionDialogTitle\" ).html(title);\n            $( \"#optionDialogText\" ).html(text);\n            $( \"#optionDialog\" ).dialog( \"open\" );\n        }\n        $( function() \n        {\n            $( \"#optionDialog\" ).dialog(\n                {\n                    width:    500,\n                    autoOpen: false,\n                    buttons:\n                    [\n                        {\n                            text: \"Ok\",\n                            click: function() {$( this ).dialog( \"close\" );},\n                            showText: false\n                        },\n                        {\n                            text: \"Cancel\",\n                            click: function() {$( this ).dialog( \"close\" );},\n                            showText: false\n                        },\n                   ]\n                });\n        } );\n        function acknowledgeDialog(headerText, title, text)\n        {\n            $( \"#acknowledgeDialog\" ).dialog( \"option\", \"title\", headerText );    \n            $( \"#acknowledgeDialogTitle\" ).html(title);\n            $( \"#acknowledgeDialogText\" ).html(text);\n            $( \"#acknowledgeDialog\" ).dialog( \"open\" );\n        }","output":"str","x":270,"y":40,"wires":[["9f84c5ba.086818"]]},{"id":"4346720b.c0671c","type":"template","z":"2fb21a6b.366766","name":"GaugeWidget","field":"payload.script.gaugeWidget","fieldType":"msg","format":"javascript","syntax":"mustache","template":"// GaugeWidget\n        function setGaugeWidget(gaugeConfig)\n        {\n            var degrees = 180.0 * (gaugeConfig.hihi - gaugeConfig.value) / (gaugeConfig.hihi - gaugeConfig.lolo);\n            if (degrees < 0.0 )   degrees = 0.0;\n            if (degrees > 180.0 ) degrees = 180.0;\n            // Trig to calc meter point\n            var radius = 0.50;\n            var radians = degrees * Math.PI / 180;\n            var x = radius * Math.cos(radians);\n            var y = radius * Math.sin(radians);\n            var path1 = (degrees < 45 || degrees > 135) ? 'M -0.0 -0.025 L 0.0 0.025 L ' : 'M -0.025 -0.0 L 0.025 0.0 L ';\n            // Path: may have to change to create a better triangle\n            var mainPath = path1,\n                pathX = String(x),\n                space = ' ',\n                pathY = String(y),\n                pathEnd = ' Z';\n            var rotation = (180.0 * (gaugeConfig.high - gaugeConfig.lolo) / (gaugeConfig.hihi - gaugeConfig.lolo)) - 90.0;\n            var path = mainPath.concat(pathX,space,pathY,pathEnd);\n        \n            var valueColor = gaugeConfig.backgroundColor; \n            \n            if ( (gaugeConfig.lolo <= gaugeConfig.value) && (gaugeConfig.value < gaugeConfig.low) )\n            {\n                valueColor = gaugeConfig.lowColor;\n            }\n            if ( (gaugeConfig.low  <= gaugeConfig.value) && (gaugeConfig.value < gaugeConfig.high) )\n            {\n                valueColor = gaugeConfig.mediumColor;\n            }\n            if ( (gaugeConfig.high <= gaugeConfig.value) && (gaugeConfig.value < gaugeConfig.hihi) )\n            {\n              valueColor = gaugeConfig.highColor;\n            }\n            if ( gaugeConfig.hihi <= gaugeConfig.value)\n            {\n                valueColor = gaugeConfig.highColor;\n            }\n        \n        \n            var data = \n                [\n                    { \n                        type: 'scatter',\n                        x: [0], y:[0],\n                        marker: {size: 14, color:valueColor},\n                        showlegend: false,\n                        name: gaugeConfig.label,\n                        text: gaugeConfig.value.toString(),\n                        hoverinfo: 'text+name',\n        \n                        \n                    },\n                    { \n                        values: \n                            [\n                                gaugeConfig.hihi - gaugeConfig.high, \n                                gaugeConfig.high - gaugeConfig.low, \n                                gaugeConfig.low  - gaugeConfig.lolo, \n                                gaugeConfig.hihi - gaugeConfig.lolo \n                            ],\n                        rotation: rotation,\n                        text: \n                            [\n                                gaugeConfig.high.toString() + '-' + gaugeConfig.hihi.toString(), \n                                gaugeConfig.low.toString()  + '-' + gaugeConfig.high.toString(), \n                                gaugeConfig.lolo.toString() + '-' + gaugeConfig.low.toString(), \n                                ''\n                            ],\n                        textinfo: 'text',\n                        textposition:'inside',\n                        textfont: {color: gaugeConfig.labelColor},\n                        marker: \n                            {\n                                colors:\n                                    [\n                                        gaugeConfig.highColor,\n                                        gaugeConfig.mediumColor,\n                                        gaugeConfig.lowColor, \n                                        gaugeConfig.backgroundColor\n                                    ]\n                            },\n                        hoverinfo: 'label',\n                        hole: 0.5,\n                        type: 'pie',\n                        showlegend: false,\n                        sort: false\n                    }\n                ];\n            var layout = \n                {\n                    shapes:\n                        [\n                            {\n                                type: 'path',\n                                path: path,\n                                fillcolor: valueColor,\n                                line: {color: valueColor }\n                            }\n                        ],\n                    height: gaugeConfig.size,\n                    width: gaugeConfig.size,\n                    title: \n                        {\n                            text:gaugeConfig.label + ': ' + gaugeConfig.value.toString() + gaugeConfig.unit,\n                            font: {color: valueColor},\n                         },\n                    xaxis: \n                        {\n                            zeroline:false, \n                            showticklabels:false,\n                            showgrid: false, \n                            range: [-1, 1],\n                        },\n                    yaxis: \n                        {\n                            zeroline:false, \n                            showticklabels:false,\n                            showgrid: false, \n                            range: [-1, 1]\n                        },\n                    margin: \n                        {\n                            t: 40, //top margin\n                            l: 0, //left margin\n                            r: 0, //right margin\n                            b: 20 //bottom margin\n                        },\n                    plot_bgcolor:gaugeConfig.backgroundColor,\n                    paper_bgcolor:gaugeConfig.backgroundColor\n            \n                };\n            $('#' + gaugeConfig.htmlId).attr('style','max-height: calc(' + (gaugeConfig.size / 2).toString() + 'px + 20px) !important; overflow:hidden;');\n            Plotly.newPlot(gaugeConfig.htmlId, data, layout, {'displayModeBar': false});\n        }","output":"str","x":620,"y":60,"wires":[["b5b6dbf9.b285a8"]]},{"id":"b5b6dbf9.b285a8","type":"template","z":"2fb21a6b.366766","name":"Bar Widget","field":"payload.script.barWidget","fieldType":"msg","format":"javascript","syntax":"mustache","template":"// Bar Widget\n        function setBarWidget(barConfig)\n        {\n            var lowValue = 0;\n            var mediumValue = 0;\n            var highValue = 0;\n        \n            var lowColor = barConfig.backgroundColor;\n            var mediumColor = barConfig.backgroundColor;\n            var highColor = barConfig.backgroundColor;\n            var valueColor = barConfig.backgroundColor; \n            \n            if ( barConfig.value <= barConfig.lolo)\n            {\n                lowValue = barConfig.lolo;\n                lowColor = barConfig.lowColor;\n                valueColor = lowColor;\n            }\n            if ( (barConfig.lolo <= barConfig.value) && (barConfig.value < barConfig.low) )\n            {\n                lowValue = barConfig.value;\n                lowColor = barConfig.lowColor;\n                valueColor = lowColor;\n            }\n            if ( (barConfig.low  <= barConfig.value) && (barConfig.value < barConfig.high) )\n            {\n                lowValue = barConfig.low;\n                mediumValue = barConfig.value - barConfig.low; \n                lowColor = barConfig.mediumColor;\n                mediumColor = barConfig.mediumColor;\n                valueColor = mediumColor;\n        \n            }\n            if ( (barConfig.high <= barConfig.value) && (barConfig.value < barConfig.hihi) )\n            {\n                lowValue = barConfig.low;\n                mediumValue = barConfig.high - barConfig.low;\n                highValue = barConfig.value - barConfig.high;\n                lowColor = barConfig.highColor;\n                mediumColor = barConfig.highColor;\n                highColor = barConfig.highColor;\n                valueColor = highColor;\n            }\n            if ( barConfig.hihi <= barConfig.value)\n            {\n                lowValue = barConfig.low;\n                mediumValue = barConfig.high - barConfig.low; \n                highValue = barConfig.hihi - barConfig.high; \n                lowColor = barConfig.highColor;\n                mediumColor = barConfig.highColor;\n                highColor = barConfig.highColor;\n                valueColor = highColor;\n            }\n            \n            var lowBar = \n            {\n                x: ['', barConfig.label],\n                y: [ barConfig.low, lowValue],\n                type: 'bar',\n                showlegend: false,\n                marker:{color: [barConfig.lowColor, lowColor]},\n                width: [0.1, 1.0],\n            };\n            var mediumBar = \n            {\n                x: ['', barConfig.label],\n                y: [barConfig.high - barConfig.low, mediumValue],\n                type: 'bar',\n                showlegend: false,\n                marker:{color: [barConfig.mediumColor, mediumColor]},\n                width: [0.1, 1.0],\n            };\n            var highBar = \n            {\n                x: ['', barConfig.label],\n                y: [barConfig.hihi - barConfig.high, highValue],\n                type: 'bar',\n                showlegend: false,\n                marker:{color: [barConfig.highColor, highColor]},\n                width: [0.1, 1.0],\n            };\n            \n            var data = [lowBar, mediumBar, highBar];\n            \n            var layout = \n                {\n                    barmode: 'stack',\n                    plot_bgcolor:barConfig.backgroundColor,\n                    paper_bgcolor:barConfig.backgroundColor,\n                    margin: \n                        {\n                            t: 40, //top margin\n                            l: 20, //left margin\n                            r: 20, //right margin\n                            b: 20 //bottom margin\n                        },\n                    height: barConfig.height,\n                    width: barConfig.width,\n                    title: \n                        {\n                            text: barConfig.value.toString() + barConfig.unit,\n                            font: {color: valueColor},\n                        },\n                    xaxis: \n                        {\n                            tickfont: {color:valueColor}\n                        },\n                    yaxis: \n                        {\n                            range: [barConfig.lolo, barConfig.hihi],\n                            tickfont: {color:barConfig.labelColor}\n                        },\n                };\n            \n            Plotly.newPlot(barConfig.htmlId, data, layout, {'displayModeBar': false});\n        }","output":"str","x":610,"y":100,"wires":[["de4ecc64.b1ea3"]]},{"id":"de4ecc64.b1ea3","type":"template","z":"2fb21a6b.366766","name":"StripChart Widget","field":"payload.script.stripChartWidget","fieldType":"msg","format":"javascript","syntax":"mustache","template":"// StripChart Widget\n        class StripChart\n        {\n           constructor() \n            {\n                this.plotStartTime = new Date().getTime();\n                this.plotLength = 600;\n                this.htmlId = 'temperatureChart';\n                this.layout =\n                {\n                    showlegend  : true,\n                    legend      : { x: 0, y: 1.15},\n                    height      : '500',\n                    width       : '',\n                    xaxis       :\n                    {\n                        title: 'Seconds since ' + new Date(this.plotStartTime).toLocaleString(),\n                    },\n                    yaxis:\n                    {\n                        title           : 'Temp (C)',\n                        titlefont       : {color: '#0000ff'},\n                        tickfont        : {color: '#0000ff'},\n                        gridcolor       : '#9999ff',\n                        zerolinecolor   : '#9999ff',\n                        linecolor       : '#9999ff',\n        \n                    },\n                    yaxis2:\n                    {\n                        title           : 'Relay On',\n                        titlefont       : {color: '#ff0000'},\n                        tickfont        : {color:'#ff0000'},\n                        gridcolor       : '#ff9999',\n                        zerolinecolor   : '#ff9999',\n                        linecolor       : '#ff9999',\n                        overlaying: 'y',\n                        side: 'right',\n                        range: [0,10]\n                    },\n                    margin: \n                        {\n                            t: 30, //top margin\n        //                    l: 0, //left margin\n        //                    r: 0, //right margin\n        //                    b: 20 //bottom margin\n                        },\n                };\n                this.trace1 = \n                {\n                    x: [],\n                    y: [],\n                    name: 'Temperature',\n                    yaxis: 'y1',\n                    type: 'scatter',\n                    mode: 'lines',\n                    line: {color: '#0000ff'}\n            \n                };\n                this.trace2 = \n                {\n                    x: [],\n                    y: [],\n                    name: 'Ramp Temperature',\n                    yaxis: 'y1',\n                    type: 'scatter',\n                    mode: 'lines',\n                    line: {color: '#00ff00'}\n                };\n                this.trace3 = \n                {\n                    x: [],\n                    y: [],\n                    name: 'Relay On',\n                    yaxis: 'y2',\n                    type: 'scatter',\n                    mode: 'lines',\n                    line: {color: '#ff0000'}\n                };\n            }\n            addTracePoints(trace1Pt, trace2Pt, trace3Pt)\n            {\n                var now = (new Date().getTime() - this.plotStartTime) / 1000;\n                var plotBeginning = now - this.plotLength;\n                var removeDone = false;\n                while(!removeDone)\n                {\n                    if (this.trace1.x[0] < plotBeginning)\n                    {\n                        this.trace1.x.shift();\n                        this.trace1.y.shift();\n                        this.trace2.x.shift();\n                        this.trace2.y.shift();\n                        this.trace3.x.shift();\n                        this.trace3.y.shift();\n                    }\n                    else\n                    {\n                        removeDone = true;\n                    }\n                }\n        \n                this.trace1.x.push(now);\n                this.trace2.x.push(now);\n                this.trace3.x.push(now);\n                this.trace1.y.push(trace1Pt);\n                this.trace2.y.push(trace2Pt);\n                this.trace3.y.push(trace3Pt);\n                Plotly.newPlot(this.htmlId, [this.trace1, this.trace2, this.trace3], this.layout);\n            }\n        }\n","output":"str","x":630,"y":140,"wires":[["eb710b34.7d4128"]]},{"id":"ef042835.9e2488","type":"template","z":"2fb21a6b.366766","name":"Set Device Leader to 2","field":"payload.script.deviceLeader","fieldType":"msg","format":"javascript","syntax":"mustache","template":"'archiver/blinky-lite/demo/dma/02/bake-out/'","output":"str","x":260,"y":100,"wires":[["75efb570.8678dc"]]},{"id":"62b0a56b.762d0c","type":"switch","z":"2fb21a6b.366766","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"01Readings","vt":"str"},{"t":"eq","v":"02Readings","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":720,"wires":[["8bf91f6f.6883b"],["a6b964dd.6199b8"]]},{"id":"75efb570.8678dc","type":"template","z":"2fb21a6b.366766","name":"Title 2","field":"payload.title","fieldType":"msg","format":"html","syntax":"mustache","template":"Bake-out Controller 2","output":"str","x":430,"y":100,"wires":[["4346720b.c0671c"]]},{"id":"f01b631.9746ca","type":"http in","z":"2fb21a6b.366766","name":"/dma01","url":"/dma01","method":"get","upload":false,"swaggerDoc":"","x":70,"y":60,"wires":[["ed71acab.f919f"]]},{"id":"ed71acab.f919f","type":"template","z":"2fb21a6b.366766","name":"Set Device Leader to 1","field":"payload.script.deviceLeader","fieldType":"msg","format":"javascript","syntax":"mustache","template":"'archiver/blinky-lite/demo/dma/01/bake-out/'","output":"str","x":260,"y":60,"wires":[["50a5098c.bba368"]]},{"id":"50a5098c.bba368","type":"template","z":"2fb21a6b.366766","name":"Title 1","field":"payload.title","fieldType":"msg","format":"html","syntax":"mustache","template":"Bake-out Controller 1","output":"str","x":430,"y":60,"wires":[["4346720b.c0671c"]]},{"id":"8bf91f6f.6883b","type":"websocket out","z":"2fb21a6b.366766","name":"","server":"f162f8da.5ea6d8","client":"","x":1050,"y":680,"wires":[]},{"id":"6586934.0f4296c","type":"websocket in","z":"2fb21a6b.366766","name":"","server":"f162f8da.5ea6d8","client":"","x":140,"y":1000,"wires":[["70f99f78.b53f2"]]},{"id":"50e0043f.cf2c2c","type":"template","z":"2fb21a6b.366766","name":"Ramp Control HTML","field":"payload.html.rampControl","fieldType":"msg","format":"html","syntax":"mustache","template":"<!-- Dashboard HTML -->\n                <div class='card'>\n                    <p class='card-title'>Ramp Control</p>\n                    <div class='card-body' align=\"center\">\n                        <div class='row'  style='padding-top: 0px;'>\n                            <table width='100%'>\n                                <tr>\n                                    <td width='60%' >\n                                        <span class='card-text' id='temperatureLabel' >Temperature (C)</span>\n                                    </td>\n                                    <td width='40%' align='center'>\n                                        <span class='card-text' id='temperature' >-100</span>\n                                    </td>\n                                </tr>\n                            </table>\n                        </div>\n                        <div class='row'  style='padding-top: 0px;'>\n                            <table width='100%'>\n                                <tr>\n                                    <td width='60%'>\n                                        <span class='card-text' id='rampUpTimeLabel'>Ramp Up (hrs)</span>\n                                    </td>\n                                    <td width='20%'>\n                                        <input id=\"rampUpTime\" type=\"text\" value=\"0\" class=\"big-text\"  size=\"8\" oninput=\"rampUpTimeChange()\"/>\n                                    </td>\n                                    <td width='20%'>\n                                        <button class='btn btn-block card-button big-text' id=\"rampUpTimeButton\" onclick=\"rampUpTime()\" >&#10003;</button>\n                                    </td>\n                                </tr>\n                                <tr>\n                                    <td width='60%'>\n                                        <span class='card-text' id='rampDownTimeLabel'>Ramp Down (hrs)</span>\n                                    </td>\n                                    <td width='20%'>\n                                        <input id=\"rampDownTime\" type=\"text\" value=\"0\" class=\"big-text\"   size=\"8\" oninput=\"rampDownTimeChange()\"/>\n                                    </td>\n                                    <td width='20%'>\n                                        <button class='btn card-button btn-block big-text' id=\"rampDownTimeButton\" onclick=\"rampDownTime()\">&#10003;</button>\n                                    </td>\n                                </tr>\n                                <tr>\n                                    <td width='60%'>\n                                        <span class='card-text' id='regTempLabel'>Reg. Temp. (C)</span>\n                                    </td>\n                                    <td width='20%'>\n                                        <input id=\"regTemp\" type=\"text\" value=\"0\" class=\"big-text\"   size=\"8\" oninput=\"regTempChange()\"/>\n                                    </td>\n                                    <td width='20%'>\n                                        <button class='btn card-button btn-block big-text' id=\"regTempButton\" onclick=\"regTemp()\" >&#10003;</button>\n                                    </td>\n                                </tr>\n                                <tr>\n                                    <td width='60%'>\n                                        <span class='card-text' id='regWindowLabel'>Reg. Window (C)</span>\n                                    </td>\n                                    <td width='20%'>\n                                        <input id=\"regWindow\" type=\"text\" value=\"0\" class=\"big-text\"   size=\"8\" oninput=\"regWindowChange()\"/>\n                                    </td>\n                                    <td width='20%'>\n                                        <button class='btn card-button btn-block big-text' id=\"regWindowButton\" onclick=\"regWindow()\" >&#10003;</button>\n                                    </td>\n                                </tr>\n                            </table>\n                       </div>\n                    </div>\n                </div>\n","output":"str","x":520,"y":260,"wires":[["54a877e7.b8ac08"]]},{"id":"54a877e7.b8ac08","type":"template","z":"2fb21a6b.366766","name":"State HTML","field":"payload.html.state","fieldType":"msg","format":"html","syntax":"mustache","template":"<!-- Control HTML -->\n                <div class='card'>\n                    <p class='card-title'>State</p>\n                    <div class='card-body' align=\"center\">\n                        <div class='row'>\n                            <table width='100%'>\n                                <tr>\n                                    <td width=20%></td>\n                                    <td width=60%><button class='btn btn-block big-text' id=\"offStateButton\" onclick=\"changeState(0)\" >Off</button></td>\n                                    <td width=20%></td>\n                                </tr>\n                                <tr>\n                                    <td></td>\n                                    <td style='padding-top:35px;' ><button class='btn btn-block big-text' id=\"rampUpStateButton\" onclick=\"changeState(1)\">Ramp Up</button></td>\n                                    <td></td>\n                                </tr>\n                                <tr>\n                                    <td></td>\n                                    <td style='padding-top:35px;' ><button class='btn btn-block big-text' id=\"rampDownStateButton\" onclick=\"changeState(2)\">Ramp Down</button></td>\n                                    <td></td>\n                                </tr>\n                                <tr>\n                                    <td></td>\n                                    <td style='padding-top:35px;' ><button class='btn btn-block big-text' id=\"regulateStateButton\" onclick=\"changeState(3)\">Regulate</button></td>\n                                    <td></td>\n                                </tr>\n                                <tr>\n                                    <td></td>\n                                    <td style='padding-top:35px;' ><button class='btn btn-block big-text' id=\"onStateButton\" onclick=\"changeState(4)\">On</button></td>\n                                    <td></td>\n                                </tr>\n                            </table>\n                        </div>\n                    </div>\n                </div>\n","output":"str","x":490,"y":300,"wires":[["90c9edd5.abea4"]]},{"id":"90c9edd5.abea4","type":"template","z":"2fb21a6b.366766","name":"History HTML","field":"payload.html.history","fieldType":"msg","format":"html","syntax":"mustache","template":"<!-- History HTML -->\n                <div class='card'>\n                    <p class='card-title'>History</p>\n                    <div class='card-body' align=\"center\">\n                        <div id=\"temperatureChart\" width=\"100%\" ></div>\n                    </div>\n                </div>\n","output":"str","x":500,"y":340,"wires":[["774a281.a9a74d8"]]},{"id":"832b6072.bcdf3","type":"template","z":"2fb21a6b.366766","name":"Global Javascript","field":"payload.script.global","fieldType":"msg","format":"javascript","syntax":"mustache","template":"// Global Javascript\n        var ws;\n        var retries = 0;\n        var userID = -1;\n        var deviceLeader= {{{payload.script.deviceLeader}}};\n\n        let temperatureChart = new StripChart();\n        var rampUpTimeChanged = false;\n        var rampUpTimeMin = 0;\n        var rampUpTimeMax = 200;\n        var rampDownTimeChanged = false;\n        var rampDownTimeMin = 0;\n        var rampDownTimeMax = 200;\n        var regTempChanged = false;\n        var regTempMin = 20;\n        var regTempMax = 200;\n        var regWindowChanged = false;\n        var regWindowMin = 0;\n        var regWindowMax = 10;\n        var changingState = false;\n","output":"str","x":170,"y":260,"wires":[["f01965a5.c5fb08"]]},{"id":"f01965a5.c5fb08","type":"template","z":"2fb21a6b.366766","name":"Doc Ready Javascript","field":"payload.script.docReady","fieldType":"msg","format":"javascript","syntax":"mustache","template":"// Doc Ready Javascript\n        $( document ).ready(function()\n        {\n            userID  = Math.floor(Math.random() * 4096);\n            wsConnectC();\n            $('#rampUpTimeButton').hide();\n            $('#rampDownTimeButton').hide();\n            $('#regTempButton').hide();\n            $('#regWindowButton').hide();\n            \n         });\n","output":"str","x":180,"y":300,"wires":[["218c1ec1.90ca92"]]},{"id":"218c1ec1.90ca92","type":"template","z":"2fb21a6b.366766","name":"Socket Connect JavaScript","field":"payload.script.socket","fieldType":"msg","format":"javascript","syntax":"mustache","template":"// Socket Connect JavaScript\n        function wsConnectC()\n        {\n            var uri = window.location.href.split('://');\n            var wslead = 'ws://';\n            if (uri[0] == 'https') wslead = 'wss://';\n            ws = new WebSocket(wslead + uri[1] + '/websocket');\n            ws.onmessage = function(event)\n            {\n                var msg = JSON.parse(event.data);\n                switch(msg.topic)\n                {\n                    case 'readings':\n                        updateDmaReadings(msg.payload);\n                        break;\n                    case 'archive':\n                        if (userID == msg.userID)\n                        {\n                            plotArchive(msg);\n                        }\n                        \n                        break;\n                    default:\n                    // code block\n                }\n        \n            };\n            ws.onopen = function()\n            {\n                console.log(\"Websocket connected\");\n                getArchive(2);\n            };\n            ws.onclose = function()\n            {\n                console.log(\"Websocket disconnected\");\n            };\n        }\n","output":"str","x":200,"y":340,"wires":[["1662b5b5.1c565a"]]},{"id":"1662b5b5.1c565a","type":"template","z":"2fb21a6b.366766","name":"Update Readings Javascript","field":"payload.script.updateReadings","fieldType":"msg","format":"javascript","syntax":"mustache","template":"// Update Readings Javascript\n        function updateDmaReadings(data)\n        {\n            temperatureChart.addTracePoints(data['temperature'].value, data['ramp-temp'].value, data['relay'].value);\n            \n            if (!rampUpTimeChanged)\n            {\n                $('#rampUpTime').val(data['ramp-up-time'].value);\n            }\n            if (!rampDownTimeChanged)\n            {\n                $('#rampDownTime').val(data['ramp-down-time'].value);\n            }\n            if (!regTempChanged)\n            {\n                $('#regTemp').val(data['reg-temp'].value);\n            }\n            if (!regWindowChanged)\n            {\n                $('#regWindow').val(data['reg-window'].value);\n            }\n            $('#temperature').text(data['temperature'].value);\n            \n            if (!changingState)\n            {\n                switch(data['state'].value) \n                {\n                  case 0:\n                    $('#offStateButton').css(\"background-color\", \"green\");\n                    $('#rampUpStateButton').css(\"background-color\", \"white\");\n                    $('#rampDownStateButton').css(\"background-color\", \"white\");\n                    $('#regulateStateButton').css(\"background-color\", \"white\");\n                    $('#onStateButton').css(\"background-color\", \"white\");\n                    break;\n                  case 1:\n                    // code block\n                    $('#offStateButton').css(\"background-color\", \"white\");\n                    $('#rampUpStateButton').css(\"background-color\", \"orange\");\n                    $('#rampDownStateButton').css(\"background-color\", \"white\");\n                    $('#regulateStateButton').css(\"background-color\", \"white\");\n                    $('#onStateButton').css(\"background-color\", \"white\");\n                    break;\n                  case 2:\n                    // code block\n                    $('#offStateButton').css(\"background-color\", \"white\");\n                    $('#rampUpStateButton').css(\"background-color\", \"white\");\n                    $('#rampDownStateButton').css(\"background-color\", \"yellow\");\n                    $('#regulateStateButton').css(\"background-color\", \"white\");\n                    $('#onStateButton').css(\"background-color\", \"white\");\n                    break;\n                  case 3:\n                    // code block\n                    $('#offStateButton').css(\"background-color\", \"white\");\n                    $('#rampUpStateButton').css(\"background-color\", \"white\");\n                    $('#rampDownStateButton').css(\"background-color\", \"white\");\n                    $('#regulateStateButton').css(\"background-color\", \"magenta\");\n                    $('#onStateButton').css(\"background-color\", \"white\");\n                    break;\n                  case 4:\n                    // code block\n                    $('#offStateButton').css(\"background-color\", \"white\");\n                    $('#rampUpStateButton').css(\"background-color\", \"white\");\n                    $('#rampDownStateButton').css(\"background-color\", \"white\");\n                    $('#regulateStateButton').css(\"background-color\", \"white\");\n                    $('#onStateButton').css(\"background-color\", \"red\");\n                    break;\n                  default:\n                    // code block\n                    $('#offStateButton').css(\"background-color\", \"grey\");\n                    $('#rampUpStateButton').css(\"background-color\", \"grey\");\n                    $('#rampDownStateButton').css(\"background-color\", \"grey\");\n                    $('#regulateStateButton').css(\"background-color\", \"grey\");\n                    $('#onStateButton').css(\"background-color\", \"grey\");\n                }            \n                \n            }\n            \n\n        }\n","output":"str","x":200,"y":380,"wires":[["8059678f.a25758"]]},{"id":"eb710b34.7d4128","type":"template","z":"2fb21a6b.366766","name":"Change Database Key Value","field":"payload.script.changeDatabaseKeyValue","fieldType":"msg","format":"javascript","syntax":"mustache","template":"// Change Database Key Value\n        function changeDataBaseKeyValue(databaseRecord, key, keyValue)\n        {\n            var newMsg = \n            {\n                topic           :   'changeDataBaseProperty',\n                query         : \n                {\n                    sys01   : databaseRecord.sys01,\n                    sys02   : databaseRecord.sys02,\n                    sys03   : databaseRecord.sys03,\n                    sys04   : databaseRecord.sys04,\n                    device  : databaseRecord.device,\n                    attr    : databaseRecord.attr,\n                    prop    : databaseRecord.prop,\n                },\n                payload     :\n                {\n                    '$set'  :\n                    { \n                        [key] : keyValue\n                    }\n                }\n            };\n            ws.send(JSON.stringify(newMsg));\n        }\n","output":"str","x":660,"y":180,"wires":[["832b6072.bcdf3"]]},{"id":"9fb81263.fd54c","type":"template","z":"2fb21a6b.366766","name":"Set State JavaScript","field":"payload.script.setState","fieldType":"msg","format":"javascript","syntax":"mustache","template":"// Set State JavaScript\n\n        function changeState(state)\n        {\n            changingState = true;\n            $('#offStateButton').css(\"background-color\", \"grey\");\n            $('#rampUpStateButton').css(\"background-color\", \"grey\");\n            $('#rampDownStateButton').css(\"background-color\", \"grey\");\n            $('#regulateStateButton').css(\"background-color\", \"grey\");\n            $('#onStateButton').css(\"background-color\", \"grey\");\n\n            ws.send(JSON.stringify(\n                {\n                    topic       : 'sendSettingToMqtt',\n                    mqttMessage :\n                    {\n                        topic   : deviceLeader + 'state/setting',\n                        payload :  {type : 'scalar',value : state}\n                    }\n                    \n                }));\n            setTimeout(function(){ changingState = false; }, 1000);\n        }\n","output":"str","x":180,"y":460,"wires":[["d70cb5b4.4f8128"]]},{"id":"8d3bc04e.e9f2","type":"http in","z":"bd9a93d5.70311","name":"HTTP GET","url":"/","method":"get","upload":false,"swaggerDoc":"","x":80,"y":60,"wires":[["c7ba55d2.66a0d8"]]},{"id":"78ac69c4.a23c98","type":"template","z":"bd9a93d5.70311","name":"Body","field":"payload.body","fieldType":"msg","format":"html","syntax":"mustache","template":"<!-- Body HTML -->\n    <div class='container' width=\"100%\">\n        <div class='row vert-pad' >\n            <div class='col-md-12' align='center' >\n                <a class=\"btn jumbotron-button btn-block big-text bold-text\" width='80%' href=\"/dma01\" target=\"_blank\" >Bake-out Controller 1</a>\n            </div>\n        </div>\n        <div class='row vert-pad' >\n            <div class='col-md-12' align='center' >\n                <a class=\"btn jumbotron-button btn-block big-text bold-text\" width='80%' href=\"/dma02\" target=\"_blank\">Bake-out Controller 2</a>\n            </div>\n        </div>\n        <div class='row vert-pad' >\n            <div class='col-md-12' align='center' >\n                <a class=\"btn jumbotron-button btn-block big-text bold-text\" width='80%' href=\"/\" target=\"_blank\" id=\"blinky-lite-core\">Blinky-Lite Core</a> \n            </div>\n        </div>\n    </div>","output":"str","x":910,"y":60,"wires":[["6da7c04f.a32a9"]]},{"id":"72abec.ca7eb414","type":"template","z":"bd9a93d5.70311","name":"Document Ready JavaScript","field":"payload.javascript","fieldType":"msg","format":"javascript","syntax":"mustache","template":"// Document Ready JavaScript\n        $( document ).ready(function()\n        {\n            var uri = window.location.href;\n            var loc = uri.indexOf('{{{payload.env.appport}}}');\n            console.log(uri);\n            if (loc >= 0)\n            {\n                $('#blinky-lite-core').attr(\"href\", uri.replace('{{{payload.env.appport}}}','{{{payload.env.coreport}}}'));\n            }\n            else\n            {\n                var newUri = uri.substring(0,uri.length - 1) + ':{{{payload.env.coreport}}}/';\n                console.log(newUri);\n                $('#blinky-lite-core').attr(\"href\", newUri);\n            }\n        });","output":"str","x":600,"y":60,"wires":[["ea777725.689b48"]]},{"id":"ea777725.689b48","type":"template","z":"bd9a93d5.70311","name":"Title","field":"payload.title","fieldType":"msg","format":"html","syntax":"mustache","template":"Blinky-Lite Bakeout System","output":"str","x":790,"y":60,"wires":[["78ac69c4.a23c98"]]},{"id":"6da7c04f.a32a9","type":"subflow:e8763d21.b7461","z":"bd9a93d5.70311","name":"","x":1070,"y":60,"wires":[]},{"id":"ca489a7c.d08328","type":"inject","z":"bd9a93d5.70311","name":"APPPORT env","topic":"APPPORT","payload":"APPPORT","payloadType":"env","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":140,"wires":[["c7ba55d2.66a0d8"]]},{"id":"c7ba55d2.66a0d8","type":"function","z":"bd9a93d5.70311","name":"Store env Variables","func":"if (msg.topic == 'APPPORT')\n{\n    context.set(msg.topic, msg.payload);\n    return null;\n}\nif (msg.topic == 'COREPORT')\n{\n    context.set(msg.topic, msg.payload);\n    return null;\n}\nmsg.payload.env = \n{\n   appport  :  context.get('APPPORT'),\n   coreport :  context.get('COREPORT'), \n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":60,"wires":[["72abec.ca7eb414"]]},{"id":"fb37d397.a2111","type":"inject","z":"bd9a93d5.70311","name":"COREPORT env","topic":"COREPORT","payload":"COREPORT","payloadType":"env","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":180,"wires":[["c7ba55d2.66a0d8"]]},{"id":"83809138.03125","type":"function","z":"2fb21a6b.366766","name":"Parse Readings","func":"if (msg.topic.indexOf('Devices') >=0) return null;\nvar topic = msg.topic;\nvar setting = {};\nfor (var ii = 0; ii < msg.payload.length; ++ii)\n{\n    setting[msg.payload[ii].attr] = {\n        alarm: msg.payload[ii].alarm,\n        time: msg.payload[ii].time,\n        value: msg.payload[ii].value\n    };\n}\nreturn {topic:topic, payload:{topic:'readings', payload:setting}};","outputs":1,"noerr":0,"x":700,"y":720,"wires":[["62b0a56b.762d0c"]]},{"id":"8059678f.a25758","type":"template","z":"2fb21a6b.366766","name":"Ramp Settings JavaScript","field":"payload.script.rampsettings","fieldType":"msg","format":"javascript","syntax":"mustache","template":"// Ramp Settings JavaScript\n        function rampUpTimeChange()\n        {\n            rampUpTimeChanged = true;\n            $('#rampUpTimeButton').show();\n\n        }\n        function rampDownTimeChange()\n        {\n            rampDownTimeChanged = true;\n            $('#rampDownTimeButton').show();\n\n        }\n        function regTempChange()\n        {\n            regTempChanged = true;\n            $('#regTempButton').show();\n\n        }\n        function regWindowChange()\n        {\n            regWindowChanged = true;\n            $('#regWindowButton').show();\n\n        }\n        function rampUpTime()\n        {\n            $('#rampUpTimeButton').hide();\n            if (isNaN($('#rampUpTime').val()))\n            {\n                rampUpTimeChanged = false;\n                return;\n            }\n            var rampUpTime = Number($('#rampUpTime').val());\n            if ( (rampUpTimeMin <= rampUpTime) && (rampUpTime <= rampUpTimeMax) )\n            {\n                ws.send(JSON.stringify(\n                    {\n                        topic   : 'sendSettingToMqtt',\n                        mqttMessage :\n                        {\n                            topic       : deviceLeader + 'ramp-up-time/setting',\n                            payload     : {type : 'scalar', value : rampUpTime}\n                        }\n                        \n                    }));\n            } \n            else\n            {\n                acknowledgeDialog('Acknowledge', 'Error', 'Ramp Up Time entry outside range! (' + rampUpTimeMin.toString() + '-' + rampUpTimeMax.toString() + ' hrs)');\n            }\n            rampUpTimeChanged = false;\n        }\n        function rampDownTime()\n        {\n            $('#rampDownTimeButton').hide();\n            if (isNaN($('#rampDownTime').val()))\n            {\n                rampDownTimeChanged = false;\n                return;\n            }\n            var rampDownTime = Number($('#rampDownTime').val());\n            if ( (rampDownTimeMin <= rampDownTime) && (rampDownTime <= rampDownTimeMax) )\n            {\n                ws.send(JSON.stringify(\n                    {\n                        topic   : 'sendSettingToMqtt',\n                        mqttMessage :\n                        {\n                            topic       : deviceLeader + 'ramp-down-time/setting',\n                            payload     : {type : 'scalar', value : rampDownTime}\n                        }\n                        \n                    }));\n            } \n            else\n            {\n                acknowledgeDialog('Acknowledge', 'Error', 'Ramp Down Time entry outside range! (' + rampDownTimeMin.toString() + '-' + rampDownTimeMax.toString() + ' hrs)');\n            }\n            rampDownTimeChanged = false;\n        }\n        function regTemp()\n        {\n            $('#regTempButton').hide();\n            if (isNaN($('#regTemp').val()))\n            {\n                regTempChanged = false;\n                return;\n            }\n            var regTemp = Number($('#regTemp').val());\n            if ( (regTempMin <= regTemp) && (regTemp <= regTempMax) )\n            {\n                ws.send(JSON.stringify(\n                    {\n                        topic   : 'sendSettingToMqtt',\n                        mqttMessage :\n                        {\n                            topic       : deviceLeader + 'reg-temp/setting',\n                            payload     : {type : 'scalar', value : regTemp}\n                        }\n                        \n                    }));\n            } \n            else\n            {\n                acknowledgeDialog('Acknowledge', 'Error', 'Regulation temperature entry outside range! (' + regTempMin.toString() + '-' + regTempMax.toString() + ' C)');\n            }\n            regTempChanged = false;\n        }\n        function regWindow()\n        {\n            $('#regWindowButton').hide();\n            if (isNaN($('#regWindow').val()))\n            {\n                regWindowChanged = false;\n                return;\n            }\n            var regWindow = Number($('#regWindow').val());\n            if ( (regWindowMin <= regWindow) && (regWindow <= regWindowMax) )\n            {\n                ws.send(JSON.stringify(\n                    {\n                        topic   : 'sendSettingToMqtt',\n                        mqttMessage :\n                        {\n                            topic       : deviceLeader + 'reg-window/setting',\n                            payload     : {type : 'scalar', value : regWindow}\n                        }\n                        \n                    }));\n            } \n            else\n            {\n                acknowledgeDialog('Acknowledge', 'Error', 'Regulation window entry outside range! (' + regWindowMin.toString() + '-' + regWindowMax.toString() + ' C)');\n            }\n            regWindowChanged = false;\n        }\n","output":"str","x":190,"y":420,"wires":[["9fb81263.fd54c"]]},{"id":"774a281.a9a74d8","type":"template","z":"2fb21a6b.366766","name":"Archive HTML","field":"payload.html.archive","fieldType":"msg","format":"html","syntax":"mustache","template":"<!-- Archive HTML -->\n                <div class='card'>\n                    <p class='card-title'>Archive</p>\n                    <div class='card-body' align=\"center\">\n                        <div class='row' >\n                            <table width='100%'>\n                                <tr>\n                                    <td width='10%' align='center'>\n                                        <button class='btn btn-block big-text' style='background-color:var(--color1);color:var(--color5)' id=\"archive2hrButton\" onclick=\"getArchive(2)\" >2</button>\n                                    </td>\n                                    <td width='10%'  align='center'>\n                                        <button class='btn btn-block big-text' style='background-color:var(--color1);color:var(--color5)' id=\"archive4hrButton\" onclick=\"getArchive(4)\" >4</button>\n                                    </td>\n                                    <td width='10%'  align='center'>\n                                        <button class='btn btn-block big-text' style='background-color:var(--color1);color:var(--color5)' id=\"archive8hrButton\" onclick=\"getArchive(8)\" >8</button>\n                                    </td>\n                                    <td width='10%'  align='center'>\n                                        <button class='btn btn-block big-text' style='background-color:var(--color1);color:var(--color5)' id=\"archive24hrButton\" onclick=\"getArchive(24)\" >24</button>\n                                    </td>\n                                    <td width='10%' align='center'>\n                                        <button class='btn btn-block big-text' style='background-color:var(--color1);color:var(--color5)' id=\"archive72hrButton\" onclick=\"getArchive(72)\" >72</button>\n                                    </td>\n                                    <td width='10%' align='center'>\n                                        <button class='btn btn-block big-text' style='background-color:var(--color1);color:var(--color5)' id=\"archive168hrButton\" onclick=\"getArchive(168)\" >168</button>\n                                    </td>\n                                    <td width='10%' align='center'>\n                                        <span class='big-text' >Hours</span>\n                                    </td>\n                                </tr>\n                            </table>\n                        </div>\n                        <div class='row vert-pad'>\n                            <div class='col-md-12'>\n                                <div id=\"archiveChart\" width=\"100%\" ></div>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n","output":"str","x":500,"y":380,"wires":[["dfcdea8e.1b6118"]]},{"id":"d70cb5b4.4f8128","type":"template","z":"2fb21a6b.366766","name":"Archive JavaScript","field":"payload.script.archive","fieldType":"msg","format":"javascript","syntax":"mustache","template":"// Archive JavaScript\n        function getArchive(hours)\n        {\n            $('#archive2hrButton').attr(\"disabled\", true); \n            $('#archive4hrButton').attr(\"disabled\", true); \n            $('#archive8hrButton').attr(\"disabled\", true); \n            $('#archive24hrButton').attr(\"disabled\", true); \n            $('#archive72hrButton').attr(\"disabled\", true); \n            $('#archive168hrButton').attr(\"disabled\", true); \n            $('#archive2hrButton').css('color', 'var(--color5)'); \n            $('#archive2hrButton').css('background-color', 'var(--color1)'); \n            $('#archive4hrButton').css('color', 'var(--color5)'); \n            $('#archive4hrButton').css('background-color', 'var(--color1)'); \n            $('#archive8hrButton').css('color', 'var(--color5)'); \n            $('#archive8hrButton').css('background-color', 'var(--color1)'); \n            $('#archive24hrButton').css('color', 'var(--color5)'); \n            $('#archive24hrButton').css('background-color', 'var(--color1)'); \n            $('#archive72hrButton').css('color', 'var(--color5)'); \n            $('#archive72hrButton').css('background-color', 'var(--color1)'); \n            $('#archive168hrButton').css('color', 'var(--color5)'); \n            $('#archive168hrButton').css('background-color', 'var(--color1)'); \n            switch(hours)\n            {\n                case 2:\n                    $('#archive2hrButton').css('color', 'var(--color1)'); \n                    $('#archive2hrButton').css('background-color', 'var(--color5)'); \n                    break;\n                case 4:\n                    $('#archive4hrButton').css('color', 'var(--color1)'); \n                    $('#archive4hrButton').css('background-color', 'var(--color5)'); \n                    break;\n                case 8:\n                    $('#archive8hrButton').css('color', 'var(--color1)'); \n                    $('#archive8hrButton').css('background-color', 'var(--color5)'); \n                    break;\n                case 24:\n                    $('#archive24hrButton').css('color', 'var(--color1)'); \n                    $('#archive24hrButton').css('background-color', 'var(--color5)'); \n                    break;\n                case 72:\n                    $('#archive72hrButton').css('color', 'var(--color1)'); \n                    $('#archive72hrButton').css('background-color', 'var(--color5)'); \n                    break;\n                case 168:\n                    $('#archive168hrButton').css('color', 'var(--color1)'); \n                    $('#archive168hrButton').css('background-color', 'var(--color5)'); \n                    break;\n                default:\n                // code block\n            }\n            ws.send(JSON.stringify(\n                {\n                    topic       : 'getArchive',\n                    payload : { hours:hours, device:deviceLeader, userID:userID}\n\n                }));\n        }\n        function plotArchive(data)\n        {\n            var layout =\n            {\n                showlegend  : true,\n                legend      : { x: 0, y: 1.15},\n                height      : '500',\n                width       : '',\n                xaxis       :\n                {\n                    title: 'Hours since ' + new Date(data.stopTime).toLocaleString(),\n                },\n                yaxis:\n                {\n                    title           : 'Temp (C)',\n                    titlefont       : {color: '#0000ff'},\n                    tickfont        : {color: '#0000ff'},\n                    gridcolor       : '#9999ff',\n                    zerolinecolor   : '#9999ff',\n                    linecolor       : '#9999ff',\n    \n                },\n                yaxis2:\n                {\n                    title           : 'Relay On',\n                    titlefont       : {color: '#ff0000'},\n                    tickfont        : {color:'#ff0000'},\n                    gridcolor       : '#ff9999',\n                    zerolinecolor   : '#ff9999',\n                    linecolor       : '#ff9999',\n                    overlaying: 'y',\n                    side: 'right',\n                    range: [0,10]\n                },\n                margin: \n                    {\n                        t: 30, //top margin\n    //                    l: 0, //left margin\n    //                    r: 0, //right margin\n    //                    b: 20 //bottom margin\n                    },\n            };\n            var trace1 = \n            {\n                x: [],\n                y: [],\n                name: 'Temperature',\n                yaxis: 'y1',\n                type: 'scatter',\n                mode: 'lines',\n                line: {color: '#0000ff'}\n        \n            };\n            var trace2 = \n            {\n                x: [],\n                y: [],\n                name: 'Ramp Temperature',\n                yaxis: 'y1',\n                type: 'scatter',\n                mode: 'lines',\n                line: {color: '#00ff00'}\n            };\n            var trace3 = \n            {\n                x: [],\n                y: [],\n                name: 'Relay On',\n                yaxis: 'y2',\n                type: 'scatter',\n                mode: 'lines',\n                line: {color: '#ff0000'}\n            };\n            for (var ii = 0; ii < data.payload.temperature.length; ++ii)\n            {\n                trace1.x[ii] = (data.payload.temperature[ii].time - data.stopTime) / 3600000.0;\n                trace1.y[ii] = data.payload.temperature[ii].value ;\n            }\n            for (var ii = 0; ii < data.payload['ramp-temp'].length; ++ii)\n            {\n                trace2.x[ii] = (data.payload['ramp-temp'][ii].time - data.stopTime) / 3600000.0;\n                trace2.y[ii] = data.payload['ramp-temp'][ii].value ;\n            }\n            for (var ii = 0; ii < data.payload.relay.length; ++ii)\n            {\n                trace3.x[ii] = (data.payload.relay[ii].time - data.stopTime) / 3600000.0;\n                trace3.y[ii] = data.payload.relay[ii].value ;\n            }\n\n            Plotly.newPlot('archiveChart', [trace1, trace2, trace3], layout);\n            $('#archive2hrButton').attr(\"disabled\", false); \n            $('#archive4hrButton').attr(\"disabled\", false); \n            $('#archive8hrButton').attr(\"disabled\", false); \n            $('#archive24hrButton').attr(\"disabled\", false); \n            $('#archive72hrButton').attr(\"disabled\", false); \n            $('#archive168hrButton').attr(\"disabled\", false); \n        }\n","output":"str","x":170,"y":500,"wires":[["9a1fbe36.09896"]]},{"id":"eae8240e.a269d8","type":"switch","z":"2fb21a6b.366766","name":"","property":"payload.topic","propertyType":"msg","rules":[{"t":"eq","v":"sendSettingToMqtt","vt":"str"},{"t":"eq","v":"getArchive","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":1040,"wires":[["56892c9e.9db594"],["faa7e87b.21f3f8"]]},{"id":"faa7e87b.21f3f8","type":"function","z":"2fb21a6b.366766","name":"Prepare Readings Query","func":"if (flow.get('archiveRequestBlock')) return null;\nflow.set('archiveRequestBlock',true);\nfunction getDeviceReadingId(device,attr)\n{\n    var topic = device[4] + 'Devices';\n    var devices = flow.get(topic);\n    for (var ii = 0; ii < devices.length; ++ii)\n    {\n        if (devices[ii].attr == attr) return devices[ii]['_id'];\n    }\n    return null;\n}\nvar device = msg.payload.payload.device.split('/');\nvar attr = 'temperature';\nvar stopTime = new Date().getTime();\nvar startTime = stopTime - msg.payload.payload.hours * 3600000;\nvar msg1 = \n{\n    topic           : msg.payload.payload.device + attr,\n    userID : msg.payload.payload.userID,\n    payload         : \n    {\n        time    :   {'$gt': startTime, '$lt': stopTime},\n        device_id   :   getDeviceReadingId(device,attr)\n    },\n    startTime   : startTime,\n    stopTime    : stopTime,\n};\nreturn msg1;\n","outputs":1,"noerr":0,"x":630,"y":1080,"wires":[["f369d7c7.b798c8"]]},{"id":"22a70a9.33321f6","type":"function","z":"2fb21a6b.366766","name":"Initialize","func":"flow.set('archiveRequestBlock',false);\nvar msg1 = \n{\n    topic           : '01Devices',\n    payload         : \n    {\n        sys01   : \"blinky-lite\",\n        sys02   : \"demo\",\n        sys03   : \"dma\",\n        sys04   : \"01\",\n        prop    : \"reading\"\n    }\n};\nvar msg2 = \n{\n    topic           : '02Devices',\n    payload         : \n    {\n        sys01   : \"blinky-lite\",\n        sys02   : \"demo\",\n        sys03   : \"dma\",\n        sys04   : \"02\",\n        prop    : \"reading\"\n    }\n};\nreturn [msg1,msg2];\n","outputs":2,"noerr":0,"x":320,"y":820,"wires":[["88320d38.511a3"],["88320d38.511a3"]]},{"id":"317506fb.57500a","type":"inject","z":"2fb21a6b.366766","name":"Get Readings ID","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":150,"y":820,"wires":[["22a70a9.33321f6"]]},{"id":"c28defec.55edd","type":"function","z":"2fb21a6b.366766","name":"Store Readings ID","func":"if (msg.topic.indexOf('Readings') >=0) return null;\nflow.set(msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":820,"wires":[[]]},{"id":"f369d7c7.b798c8","type":"mongodb in","z":"2fb21a6b.366766","mongodb":"c309d5c4.23e2d8","name":"","collection":"archiver","operation":"find","x":890,"y":1080,"wires":[["3308ffb5.a820d"]]},{"id":"3308ffb5.a820d","type":"function","z":"2fb21a6b.366766","name":"Get relay and ramp archive","func":"function getDeviceReadingId(device,attr)\n{\n    var topic = device[4] + 'Devices';\n    var devices = flow.get(topic);\n    for (var ii = 0; ii < devices.length; ++ii)\n    {\n        if (devices[ii].attr == attr) return devices[ii]['_id'];\n    }\n    return null;\n}\nvar device = msg.topic.split('/');\nif (device[6] == 'temperature')\n{\n    var temperature = [];\n    for (var ii = 0; ii < msg.payload.length; ++ii)\n    {\n        temperature[ii] = \n        {\n            time    :   msg.payload[ii].time,\n            value   :   msg.payload[ii].value\n        }\n    }\n    context.set('temperature',temperature);\n    var attr = 'relay';\n    device[6] = attr;\n    var topic = 'archiver';\n    for (var ii = 1; ii < 7; ++ii) topic = topic + '/' + device[ii];\n    var msg1 = \n    {\n        topic           : topic,\n        userID          : msg.userID,\n        payload         : \n        {\n            time    :   {'$gt': msg.startTime, '$lt': msg.stopTime},\n            device_id   :   getDeviceReadingId(device,attr)\n        },\n        startTime   : msg.startTime,\n        stopTime    : msg.stopTime,\n    };\n    return [msg1,null]\n}\nif (device[6] == 'relay')\n{\n    var relay = [];\n    for (var ii = 0; ii < msg.payload.length; ++ii)\n    {\n        relay[ii] = \n        {\n            time    :   msg.payload[ii].time,\n            value   :   msg.payload[ii].value\n        }\n    }\n    context.set('relay',relay);\n    var attr = 'ramp-temp';\n    device[6] = attr;\n    var topic = 'archiver';\n    for (var ii = 1; ii < 7; ++ii) topic = topic + '/' + device[ii];\n    var msg1 = \n    {\n        topic           : topic,\n        userID          : msg.userID,\n        payload         : \n        {\n            time    :   {'$gt': msg.startTime, '$lt': msg.stopTime},\n            device_id   :   getDeviceReadingId(device,attr)\n        },\n        startTime   : msg.startTime,\n        stopTime    : msg.stopTime,\n    };\n    return [msg1,null]\n    \n}\nif (device[6] == 'ramp-temp')\n{\n    var rampTemp = [];\n    for (var ii = 0; ii < msg.payload.length; ++ii)\n    {\n        rampTemp[ii] = \n        {\n            time    :   msg.payload[ii].time,\n            value   :   msg.payload[ii].value\n        }\n    }\n    var topic = device[4] + 'Archive';\n    var msg1 = \n    {\n        topic           : topic,\n        payload         : \n        {\n            topic       : 'archive',\n            userID      : msg.userID,\n            startTime   : msg.startTime,\n            stopTime    : msg.stopTime,\n            payload     :\n            {\n                'temperature'   : context.get('temperature'),\n                'relay'         : context.get('relay'),\n                'ramp-temp'     : rampTemp\n            }\n        },\n    };\n    flow.set('archiveRequestBlock',false);\n\n    return [null,msg1]\n\n}\n\nreturn null;","outputs":2,"noerr":0,"x":960,"y":1000,"wires":[["f369d7c7.b798c8"],["22200202.72930e"]]},{"id":"22200202.72930e","type":"switch","z":"2fb21a6b.366766","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"01Archive","vt":"str"},{"t":"eq","v":"02Archive","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1190,"y":1000,"wires":[["8bf91f6f.6883b"],["a6b964dd.6199b8"]]}]